div{
    width: 100%;
}

/*ШАПкка ниже*/

@media (min-width: 1600px) {



    .head{
        position: fixed;
        top: 10%;
        display: flex;
        width: 100%;
        z-index: 3;
    }
    .menu{
        width: 50%;
    }
    .menu ul{
        display: flex;
        list-style-type: none;
        font-family: just, serif;
    }
    .menu ul li{
        width: auto;
        margin-right: 3%;
    }
    .menu ul li a{
        color: black;
        font-size: 18px;
    }
    .menu ul li a:hover{
        color: #4a4c4b;
        font-size: 18px;
    }
    .name{
        cursor: pointer;
        font-size: 25px;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    /*Слево*/

    .menuk{
        width: 50%;
        display: flex;
        margin-left: auto;
        margin-right: 0;
    }
    .icon{
        cursor: pointer;
        left: auto;
        right: 0;
        width: 36px;
        height: 36px;
        margin: 12px;
        border-radius: 50%;
        background-color: black;
    }
    .icon:hover{
        cursor: pointer;
        left: auto;
        right: 0;
        width: 36px;
        height: 36px;
        margin: 12px;
        border-radius: 50%;
        background-color: #4a4c4b;
    }

    .fa-comments, .fa-vk{
        padding: 8px 6.750px;
        font-size: 20px;
        color: #eeeeee;
    }
    .fa-instagram{
        padding: 5.222px 6.620px;
        font-size: 26px;
        color: #eeeeee;
    }
    .head_menu{
        display: none;
    }
}
@media (max-width: 1600px) {
    .head{
        display: none;
    }
    .head_menu{
        top: 10%;
        position: fixed;
        height: 50px;
    }
    .nav {
        width: 320px;
        min-width: 320px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        left: -320px;
        padding: 15px 20px;
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        transition: left 0.3s;
        background: rgb(36, 36, 36);

        z-index: 2000;
    }
    .nav-toggle {
        position: absolute;
        left: 320px;
        top: 1em;
        padding: 0.5em;
        background: inherit;
        color: #dadada;
        cursor: pointer;
        font-size: 1.2em;
        line-height: 1;
        z-index: 2001;
        -webkit-transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
    }
    .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
    }
    .nav-toggle:hover {
        color: #f4f4f4;
    }
    [id='nav-toggle'] {
        position: absolute;
        display: none;
    }
    [id='nav-toggle']:checked ~ .nav > .nav-toggle {
        left: auto;
        right: 2px;
        top: 1em;
    }
    [id='nav-toggle']:checked ~ .nav {
        left: 0;
        box-shadow:4px 0 20px 0 rgba(0,0,0, 0.5);
        -moz-box-shadow:4px 0 20px 0 rgba(0,0,0, 0.5);
        -webkit-box-shadow:4px 0 20px 0 rgba(0,0,0, 0.5);
        overflow-y: auto;
    }
    [id='nav-toggle']:checked ~ main > article {
        -webkit-transform: translateX(320px);
        -moz-transform: translateX(320px);
        transform: translateX(320px);
    }
    [id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
        content: '\2715';
    }
    .nav h2 {
        font-weight: normal;
        font-family: ital, serif;
        padding: 0;
        margin: 10px 0;
        text-align: center;
        text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
        opacity: 0;
        transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transition: opacity 0.8s, transform 0.8s;
        -moz-transition: opacity 0.8s, -moz-transform 0.8s;
        -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    }

    .nav h2 a {
        color: #dadada;
        text-decoration: none;
        text-transform: uppercase;
    }
    [id='nav-toggle']:checked ~ .nav h2 {
        opacity: 1;
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    .nav > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav > ul > li {
        line-height: 2.5;
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
        -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
        transition: opacity .5s .1s, transform .5s .1s;
    }

    [id='nav-toggle']:checked ~ .nav > ul > li {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .nav > ul > li:nth-child(2) {
        -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
        transition: opacity .5s .2s, transform .5s .2s;
    }

    .nav > ul > li:nth-child(3) {
        -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
        transition: opacity .5s .3s, transform .5s .3s;
    }

    .nav > ul > li:nth-child(4) {
        -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
        transition: opacity .5s .4s, transform .5s .4s;
    }

    .nav > ul > li:nth-child(5) {
        -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
        transition: opacity .5s .5s, transform .5s .5s;
    }

    .nav > ul > li:nth-child(6) {
        -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
        transition: opacity .5s .6s, transform .5s .6s;
    }

    .nav > ul > li:nth-child(7) {
        -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
        transition: opacity .5s .7s, transform .5s .7s;
    }
    .nav > ul > li > a {
        display: inline-block;
        position: relative;
        padding: 0;
        font-family: just, serif;
        font-weight: 300;
        font-size: 1.2em;
        color: #ffffff;
        width: 100%;
        text-decoration: none;
        -webkit-transition: color .5s ease, padding .5s ease;
        -moz-transition: color .5s ease, padding .5s ease;
        transition: color .5s ease, padding .5s ease;
    }

    .nav > ul > li > a:hover,
    .nav > ul > li > a:focus {
        color: white;
        padding-left: 15px;
    }
    .nav > ul > li > a:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }

    .nav > ul > li > a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: #ffa598;
        -webkit-transition: width .5s ease;
        transition: width .5s ease;
    }
    .nav > ul > li > a:hover:before {
        width: 0;
        background: #ffa598;
        -webkit-transition: width .5s ease;
        transition: width .5s ease;
    }

    .nav > ul > li > a:hover:after {
        width: 0;
        background: transparent;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }
    .mask-content {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        visibility: hidden;
        opacity: 0;
    }

    [id='nav-toggle']:checked ~ .mask-content {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .5s, visibility .5s;
        transition: opacity .5s, visibility .5s;
    }

}
/*/////*/
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: just,serif;
}
@font-face {
    font-family: just; /* Гарнитура шрифта */
    src: local(just), url(../fonts/19319.ttf);
}
@font-face {
    font-family: just1; /* Гарнитура шрифта */
    src: local(just1), url(../fonts/19813.ttf);
}
@font-face {
    font-family: ital; /* Гарнитура шрифта */
    src: local(ital), url(../fonts/20180.otf);
}
.web{
    height: 100%;
    width: 100%;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 1%;
    cursor: default;
    text-decoration: none;
}
a{
    margin: 0;
    padding: 1%;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
span{
    color: white;
    width: 100%;
}
.adress{
    background: rgb(45, 45, 45);
    width: 100%;
}

/*Сама страничка*/

@media (min-width: 1250px) {

    .icecream {
        width: 1100px;
        background-color: snow;
        margin: auto;
        padding: 0;
    }
    .icecream .ice{
        margin-top: 3%;
        height: 100%;
        display: flex;
    }
    .center{
        padding-top: 50px;
        display: flex;
        width: 1100px;
        margin: auto;
    }
    footer{
        width: 100%;
        height: 300px;
        /*background-color: black;*/
        background: rgb(45, 45, 45);

        margin-top: 30px;
    }
}
@media (max-width: 1250px) {
    .icecream {
        width: 550px;
        background-color: snow;
        margin: auto;
        padding: 0;
    }
    .icecream .ice{
        margin-top: 3%;
        height: 100%;
        display: block;
    }
    .icecream .ice img{
        padding:20px 0;
    }
    .center{
        padding-top: 50px;
        display: block;
        width: 550px;
        margin: auto;
    }
    footer{
        width: 100%;
        height: 500px;
        background: rgb(45, 45, 45);

        margin-top: 30px;
    }
}

.main p{
    text-align: center;
    padding: 0;
    color: snow;
}
.main{
    background-color: #ffa598;
}
.btn span{
    font-size: 25px;
    color: black;
}
.btn {
    margin: auto;
    line-height: 50px;
    height: 45px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}
.btn-three {
    color: #000000;
    transition: all 0.5s;
    position: relative;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}
.center div p{
    color: #eeeeee;
}
.q1{
    font-size: 35px;
}
.q2{
    font-size: 20px;
}

/*button*/

.input{
    text-indent: 20px;
    font-size: 15px;
    font-family: just,serif;
    width: 550px;
    height: 45px;
    border: 0;
    padding: 0;
    margin: 0;

}
#q3, #q4{
    display: none;
}

.btn-2 span{
    font-size: 25px;
    color: #ffffff;
}
.btn-2 {
    margin: auto;
    line-height: 50px;
    height: 45px;
    text-align: center;
    width: 550px;
    cursor: pointer;
}
.btn-three-2 {
    color: #030303;
    transition: all 0.5s;
    position: relative;
}
.btn-three-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.28);
    transition: all 0.3s;
}
.btn-three-2:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three-2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2,1.2);
}
.btn-three-2:hover::after {
    opacity: 1;
    transform: scale(1,1);
}